@import "style.scss";

#all_projects {
    margin: 30px;
}

#project {
    width: 160px;
    height: 160px;
    margin-right: 36px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    float: left;
    position: relative;
}

.box {
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6B54D3;
    -moz-box-shadow: 0px 4px #6B54D3;
    -webkit-box-shadow: 0px 4px #6B54D3;
}

.box:active, #startreset:active {
    box-shadow: 0px 0px #6B54D3;
    -moz-box-shadow: 0px 0px #6B54D3;
    -webkit-box-shadow: 0px 0px #6B54D3;
    top: 4px;
}

#box4 {
    margin-right: 0px;
}